<a href="https://colab.research.google.com/github/FlaviaSantos1804/covid19-brasil/blob/master/Covid19_no_Brasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise da pandemia de Covid-19 no Brasil 
Após o 1º caso confirmado em 26/02/2020 no estado paulista, o país vem sofrendo com graves consequências tanto econômicas, quanto sociais. Hospitais e cemitérios vivem cenas aterrorizantes, muitas vidas foram perdidas. Resta saber quando o normal voltará depois de um longo período de isolamento social.

+ Este notebook tem como finalidade acompanhar a evolução da pandemia no país, explorando datasets fornecidos pelo Ministério da Saúde regularmente, os quais são tratados por Raphael Fontes e disponibilizados na kaggle no seguinte endereço: https://www.kaggle.com/unanimad/corona-virus-brazil.
Esta análise não possui ligações com organizações, sendo apenas um pequeno projeto pessoal que permite implementar conhecimentos adquiridos tanto em python, quanto em data science.

## 1. Importando as bibliotecas

In [36]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

##2. Utilizando o primeiro dataset
####A fim de que as datas estejam atualizadas, este dataset é modificado diariamente. No link da kaggle, seu nome original está como "brazil_covid19.csv". Neste notebook para fins didáticos, foi alterado para "covid19brasil.csv".
####O dataset não possui dados à respeito de cidades, apenas de regiões e estados brasileiros, contando com números de casos confirmados acumulados por data, como também de óbitos.

### 2.1 Atribuindo o carregamento do dataset em csv à uma variável

In [2]:
# A variável se chama df_regioes_ufs.


df_regioes_ufs = pd.read_csv('covid19brasil.csv')
df_regioes_ufs

            date        region state   cases  deaths
0     2020-02-25  Centro-Oeste    DF       0       0
1     2020-02-25  Centro-Oeste    GO       0       0
2     2020-02-25  Centro-Oeste    MS       0       0
3     2020-02-25  Centro-Oeste    MT       0       0
4     2020-02-25      Nordeste    AL       0       0
...          ...           ...   ...     ...     ...
3100  2020-06-18       Sudeste    RJ   87317    8412
3101  2020-06-18       Sudeste    SP  192628   11846
3102  2020-06-18           Sul    PR   11919     406
3103  2020-06-18           Sul    RS   17822     406
3104  2020-06-18           Sul    SC   15573     222

[3105 rows x 5 columns]

### 2.2 Explorando o df_regioes_ufs

#### 2.2.1 Visualizando as 10 primeiras linhas

In [3]:
df_regioes_ufs.head(10)

         date        region state  cases  deaths
0  2020-02-25  Centro-Oeste    DF      0       0
1  2020-02-25  Centro-Oeste    GO      0       0
2  2020-02-25  Centro-Oeste    MS      0       0
3  2020-02-25  Centro-Oeste    MT      0       0
4  2020-02-25      Nordeste    AL      0       0
5  2020-02-25      Nordeste    BA      0       0
6  2020-02-25      Nordeste    CE      0       0
7  2020-02-25      Nordeste    MA      0       0
8  2020-02-25      Nordeste    PB      0       0
9  2020-02-25      Nordeste    PE      0       0

#### 2.2.2 Alterando os nomes das colunas

In [4]:
alteracoes = {

'date':'data',
'region':'regiao',
'state':'uf',
'cases':'casos',
'deaths':'obitos'
    
}

In [5]:
df_regioes_ufs.rename(columns=alteracoes,inplace=True)

In [6]:
# Visualizando 3 linhas aleatórias.


df_regioes_ufs.sample(3)

            data    regiao  uf  casos  obitos
2103  2020-05-12       Sul  PR   1906     113
2570  2020-05-30  Nordeste  BA  17626     638
870   2020-03-28  Nordeste  CE    314       4

#### 2.2.3 Modificando o formato da coluna data

In [7]:
# O formato da coluna data está como objeto, ou seja, string. 


df_regioes_ufs.dtypes

data      object
regiao    object
uf        object
casos      int64
obitos     int64
dtype: object

In [8]:
# Agora, o formato da coluna data será datetime.


from datetime import datetime 
df_regioes_ufs['data']= pd.to_datetime(df_regioes_ufs['data'],format='%Y-%m-%d')

In [9]:
df_regioes_ufs

           data        regiao  uf   casos  obitos
0    2020-02-25  Centro-Oeste  DF       0       0
1    2020-02-25  Centro-Oeste  GO       0       0
2    2020-02-25  Centro-Oeste  MS       0       0
3    2020-02-25  Centro-Oeste  MT       0       0
4    2020-02-25      Nordeste  AL       0       0
...         ...           ...  ..     ...     ...
3100 2020-06-18       Sudeste  RJ   87317    8412
3101 2020-06-18       Sudeste  SP  192628   11846
3102 2020-06-18           Sul  PR   11919     406
3103 2020-06-18           Sul  RS   17822     406
3104 2020-06-18           Sul  SC   15573     222

[3105 rows x 5 columns]

In [10]:
# Verificando o formato das colunas.


df_regioes_ufs.dtypes

data      datetime64[ns]
regiao            object
uf                object
casos              int64
obitos             int64
dtype: object

#### 2.2.4 Verificando o tamanho do df_regioes_ufs

In [11]:
linhas = df_regioes_ufs.shape[0]
colunas = df_regioes_ufs.shape[1]

print(f'O dataframe possui {linhas} linhas e {colunas} colunas')

O dataframe possui 3105 linhas e 5 colunas

#### 2.2.5 Conferindo a presença de valores nulos

In [12]:
verificando_nulos = df_regioes_ufs.isnull()
verificando_nulos

       data  regiao     uf  casos  obitos
0     False   False  False  False   False
1     False   False  False  False   False
2     False   False  False  False   False
3     False   False  False  False   False
4     False   False  False  False   False
...     ...     ...    ...    ...     ...
3100  False   False  False  False   False
3101  False   False  False  False   False
3102  False   False  False  False   False
3103  False   False  False  False   False
3104  False   False  False  False   False

[3105 rows x 5 columns]

In [13]:
lista=[]
for item in verificando_nulos.iterrows():
  for tf in item[-1]:
      if(tf==True):
        lista.append(tf) 
        df_regioes_ufs.dropna(inplace=True)             
print("Total de valores nulos removidos do df_regioes_ufs: {}".format(len(lista)))
print("O df_regioes_ufs possui {} linhas atualizadas".format(df_regioes_ufs.shape[0]))

Total de valores nulos removidos do df_regioes_ufs: 0
O df_regioes_ufs possui 3105 linhas atualizadas

#### 2.2.6 Examinando algumas medidas

In [14]:
# Todos as unidades federativas presentes. 


for uf in df_regioes_ufs['uf'].unique():
  print(uf)

DF
GO
MS
MT
AL
BA
CE
MA
PB
PE
PI
RN
SE
AC
AM
AP
PA
RO
RR
TO
ES
MG
RJ
SP
PR
RS
SC

In [15]:
# Quantidade de vezes que cada uf aparece.


df_regioes_ufs['uf'].value_counts()

MA    115
RO    115
PB    115
PE    115
BA    115
RJ    115
MT    115
RR    115
AL    115
MS    115
MG    115
PR    115
SC    115
SE    115
RN    115
AC    115
CE    115
PA    115
AM    115
TO    115
AP    115
DF    115
ES    115
PI    115
SP    115
GO    115
RS    115
Name: uf, dtype: int64

#### 2.2.7 Removendo duplicatas do df_regioes_ufs

In [16]:
# Caso existam linhas duplicadas, elas serão removidas.


df_regioes_ufs.drop_duplicates(inplace=True)

In [17]:
df_regioes_ufs

           data        regiao  uf   casos  obitos
0    2020-02-25  Centro-Oeste  DF       0       0
1    2020-02-25  Centro-Oeste  GO       0       0
2    2020-02-25  Centro-Oeste  MS       0       0
3    2020-02-25  Centro-Oeste  MT       0       0
4    2020-02-25      Nordeste  AL       0       0
...         ...           ...  ..     ...     ...
3100 2020-06-18       Sudeste  RJ   87317    8412
3101 2020-06-18       Sudeste  SP  192628   11846
3102 2020-06-18           Sul  PR   11919     406
3103 2020-06-18           Sul  RS   17822     406
3104 2020-06-18           Sul  SC   15573     222

[3105 rows x 5 columns]

### 2.3 Averiguando os casos confirmados e óbitos por unidade federativa

#### 2.3.1 Calculando os números de casos e óbitos de cada uf

In [18]:
df_regioes_ufs.head()

        data        regiao  uf  casos  obitos
0 2020-02-25  Centro-Oeste  DF      0       0
1 2020-02-25  Centro-Oeste  GO      0       0
2 2020-02-25  Centro-Oeste  MS      0       0
3 2020-02-25  Centro-Oeste  MT      0       0
4 2020-02-25      Nordeste  AL      0       0

In [19]:
''' Como os números tanto de casos confirmados, quanto de óbitos são acumulativos, 
deve-se calcular os totais usando a built-in-function max() em ambos. 
Nesta consulta, a qual foi atribuída à variável ufs_casos_obitos, as ufs foram agrupadas, 
e assim pôde-se obter os totais de infectados e de óbitos por estado.'''


ufs_casos_obitos = df_regioes_ufs.groupby('uf').max()[['casos','obitos']]
ufs_casos_obitos

     casos  obitos
uf
AC   10664     287
AL   25633     831
AM   60736    2605
AP   19387     342
BA   41577    1263
CE   87273    5377
DF   28521     379
ES   31671    1217
GO   13304     264
MA   66091    1607
MG   24906     570
MS    4274      39
MT    7512     281
PA   76623    4395
PB   31760     709
PE   48626    4057
PI   12099     421
PR   11919     406
RJ   87317    8412
RN   15889     655
RO   13804     374
RR    7421     231
RS   17822     406
SC   15573     222
SE   17338     400
SP  192628   11846
TO    7774     152

#### 2.3.2 Calculando as porcentagens de casos e óbitos de cada uf
Estes dados estão na forma de número decimal e representam x % do total de casos ou de óbitos no país, sendo x o dado.

In [20]:
# Somando o total de casos de cada uf, pode-se obter o total de casos no país.


total_casos = ufs_casos_obitos['casos'].sum()
print(f"O total de indivíduos infectados no Brasil é de {total_casos}.")

O total de indivíduos infectados no Brasil é de 978142.

In [21]:
''' Através de uma iteração com o número de casos por uf, 
cada um é dividido pelo total de casos no país e multiplicado por 100,
sendo adicionados a uma lista chamada porcentagem_casos_ufs.'''


porcentagem_casos_ufs = []
for _ in ufs_casos_obitos['casos']:
    porcentagem_casos_ufs.append((_/total_casos)*100) 
print(porcentagem_casos_ufs)

[1.0902302528671706, 2.6205806518889894, 6.2093233906733385, 1.9820230600464963, 4.250609829656635, 8.92232416152256, 2.9158343062663703, 3.2378734375990397, 1.360129715317408, 6.756789913938876, 2.5462560650703066, 0.4369508721637554, 0.7679866522447661, 7.833525193683536, 3.2469723209922488, 4.971261841327742, 1.2369369682520532, 1.218534732175901, 8.92682248589673, 1.624406272299932, 1.4112470377511648, 0.7586832995618223, 1.8220258408288368, 1.5921001245217976, 1.7725442727129597, 19.693255171539512, 0.7947721292000548]

In [22]:
''' A lista porcentagem_casos_ufs é então adicionada ao ufs_casos_obitos 
na coluna porcentagem_casos.'''
 

ufs_casos_obitos['porcentagem_casos']=porcentagem_casos_ufs
ufs_casos_obitos

     casos  obitos  porcentagem_casos
uf
AC   10664     287           1.090230
AL   25633     831           2.620581
AM   60736    2605           6.209323
AP   19387     342           1.982023
BA   41577    1263           4.250610
CE   87273    5377           8.922324
DF   28521     379           2.915834
ES   31671    1217           3.237873
GO   13304     264           1.360130
MA   66091    1607           6.756790
MG   24906     570           2.546256
MS    4274      39           0.436951
MT    7512     281           0.767987
PA   76623    4395           7.833525
PB   31760     709           3.246972
PE   48626    4057           4.971262
PI   12099     421           1.236937
PR   11919     406           1.218535
RJ   87317    8412           8.926822
RN   15889     655           1.624406
RO   13804     374           1.411247
RR    7421     231           0.758683
RS   17822     406           1.822026
SC   15573     222           1.592100
SE   17338     400           1.772544
SP  192628   11846          19.693255
TO    7774     152           0.794772

In [23]:
# A coluna porcentagem_casos é arredondada para duas casas decimais.


ufs_casos_obitos['porcentagem_casos']=ufs_casos_obitos['porcentagem_casos'].round(2)
ufs_casos_obitos

     casos  obitos  porcentagem_casos
uf
AC   10664     287               1.09
AL   25633     831               2.62
AM   60736    2605               6.21
AP   19387     342               1.98
BA   41577    1263               4.25
CE   87273    5377               8.92
DF   28521     379               2.92
ES   31671    1217               3.24
GO   13304     264               1.36
MA   66091    1607               6.76
MG   24906     570               2.55
MS    4274      39               0.44
MT    7512     281               0.77
PA   76623    4395               7.83
PB   31760     709               3.25
PE   48626    4057               4.97
PI   12099     421               1.24
PR   11919     406               1.22
RJ   87317    8412               8.93
RN   15889     655               1.62
RO   13804     374               1.41
RR    7421     231               0.76
RS   17822     406               1.82
SC   15573     222               1.59
SE   17338     400               1.77
SP  192628   11846              19.69
TO    7774     152               0.79

In [24]:
''' O ufs_casos_obitos é ordenado em ordem descrecente pela porcentagem_casos, e é
apresentado os três estados com as maiores porcentagens de contaminação comparadas ao
país como um todo.''' 


ufs_casos_obitos.sort_values('porcentagem_casos',inplace=True,ascending=False)
print("Top 3 dos casos confirmados:\n")
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[0][2],ufs_casos_obitos.iloc[0].name))
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[1][2],ufs_casos_obitos.iloc[1].name))
print("{} % dos infectados no país são de {}\n\n".format(ufs_casos_obitos.iloc[2][2],ufs_casos_obitos.iloc[2].name))
ufs_casos_obitos

Top 3 dos casos confirmados:

19.69 % dos infectados no país são de SP

8.93 % dos infectados no país são de RJ

8.92 % dos infectados no país são de CE

     casos  obitos  porcentagem_casos
uf
SP  192628   11846              19.69
RJ   87317    8412               8.93
CE   87273    5377               8.92
PA   76623    4395               7.83
MA   66091    1607               6.76
AM   60736    2605               6.21
PE   48626    4057               4.97
BA   41577    1263               4.25
PB   31760     709               3.25
ES   31671    1217               3.24
DF   28521     379               2.92
AL   25633     831               2.62
MG   24906     570               2.55
AP   19387     342               1.98
RS   17822     406               1.82
SE   17338     400               1.77
RN   15889     655               1.62
SC   15573     222               1.59
RO   13804     374               1.41
GO   13304     264               1.36
PI   12099     421               1.24
PR   11919     406               1.22
AC   10664     287               1.09
TO    7774     152               0.79
MT    7512     281               0.77
RR    7421     231               0.76
MS    4274      39               0.44

In [25]:
# Somando o total de óbitos de cada uf, pode-se obter o total de óbitos no país.


total_obitos = ufs_casos_obitos['obitos'].sum()
print(f"O total de óbitos no Brasil é de {total_obitos}.")

O total de óbitos no Brasil é de 47748.

In [26]:
''' A coluna porcentagem_obitos é adicionada ao ufs_casos_obitos, sendo a divisão de obitos
por total_obitos. Além disso, foi multiplicada por 100 e arredondada para duas casas decimais.'''


ufs_casos_obitos['porcentagem_obitos']=((ufs_casos_obitos['obitos']/total_obitos)*100).round(2)
ufs_casos_obitos

     casos  obitos  porcentagem_casos  porcentagem_obitos
uf
SP  192628   11846              19.69               24.81
RJ   87317    8412               8.93               17.62
CE   87273    5377               8.92               11.26
PA   76623    4395               7.83                9.20
MA   66091    1607               6.76                3.37
AM   60736    2605               6.21                5.46
PE   48626    4057               4.97                8.50
BA   41577    1263               4.25                2.65
PB   31760     709               3.25                1.48
ES   31671    1217               3.24                2.55
DF   28521     379               2.92                0.79
AL   25633     831               2.62                1.74
MG   24906     570               2.55                1.19
AP   19387     342               1.98                0.72
RS   17822     406               1.82                0.85
SE   17338     400               1.77                0.84
RN   15889     655               1.62                1.37
SC   15573     222               1.59                0.46
RO   13804     374               1.41                0.78
GO   13304     264               1.36                0.55
PI   12099     421               1.24                0.88
PR   11919     406               1.22                0.85
AC   10664     287               1.09                0.60
TO    7774     152               0.79                0.32
MT    7512     281               0.77                0.59
RR    7421     231               0.76                0.48
MS    4274      39               0.44                0.08

In [27]:
''' A coluna porcentagem_obitos é iterada, adicionando cada valor à lista 
porcentagem_obitos_ufs, a qual é ordenada em ordem descrecente.'''


porcentagem_obitos_ufs=[]
for _ in ufs_casos_obitos['porcentagem_obitos']:
  porcentagem_obitos_ufs.append(_)
porcentagem_obitos_ufs = sorted(porcentagem_obitos_ufs,reverse=True)
porcentagem_obitos_ufs

[24.81,
 17.62,
 11.26,
 9.2,
 8.5,
 5.46,
 3.37,
 2.65,
 2.55,
 1.74,
 1.48,
 1.37,
 1.19,
 0.88,
 0.85,
 0.85,
 0.84,
 0.79,
 0.78,
 0.72,
 0.6,
 0.59,
 0.55,
 0.48,
 0.46,
 0.32,
 0.08]

In [28]:
''' O ufs_casos_obitos é ordenado em ordem descrecente pela porcentagem_casos, e é
apresentado os três estados com as maiores porcentagens de contaminação e de óbitos, comparados
ao país de modo geral.''' 


ufs_casos_obitos.sort_values('porcentagem_casos',inplace=True,ascending=False)
print("Top 3 dos casos confirmados:\n")
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[0][2],ufs_casos_obitos.iloc[0].name))
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[1][2],ufs_casos_obitos.iloc[1].name))
print("{} % dos infectados no país são de {}\n\n".format(ufs_casos_obitos.iloc[2][2],ufs_casos_obitos.iloc[2].name))

print("Top 3 dos óbitos:\n")
print("{} % dos óbitos no país são de {}\n".format(porcentagem_obitos_ufs[0],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[0]].index[0]))
print("{} % dos óbitos no país são de {}\n".format(porcentagem_obitos_ufs[1],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[1]].index[0]))
print("{} % dos óbitos no país são de {}\n".format(porcentagem_obitos_ufs[2],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[2]].index[0]))


ufs_casos_obitos

Top 3 dos casos confirmados:

19.69 % dos infectados no país são de SP

8.93 % dos infectados no país são de RJ

8.92 % dos infectados no país são de CE


Top 3 dos óbitos:

24.81 % dos óbitos no país são de SP

17.62 % dos óbitos no país são de RJ

11.26 % dos óbitos no país são de CE

     casos  obitos  porcentagem_casos  porcentagem_obitos
uf
SP  192628   11846              19.69               24.81
RJ   87317    8412               8.93               17.62
CE   87273    5377               8.92               11.26
PA   76623    4395               7.83                9.20
MA   66091    1607               6.76                3.37
AM   60736    2605               6.21                5.46
PE   48626    4057               4.97                8.50
BA   41577    1263               4.25                2.65
PB   31760     709               3.25                1.48
ES   31671    1217               3.24                2.55
DF   28521     379               2.92                0.79
AL   25633     831               2.62                1.74
MG   24906     570               2.55                1.19
AP   19387     342               1.98                0.72
RS   17822     406               1.82                0.85
SE   17338     400               1.77                0.84
RN   15889     655               1.62                1.37
SC   15573     222               1.59                0.46
RO   13804     374               1.41                0.78
GO   13304     264               1.36                0.55
PI   12099     421               1.24                0.88
PR   11919     406               1.22                0.85
AC   10664     287               1.09                0.60
TO    7774     152               0.79                0.32
MT    7512     281               0.77                0.59
RR    7421     231               0.76                0.48
MS    4274      39               0.44                0.08

#### 2.3.3 Calculando a taxa de letalidade de cada uf
A taxa de letalidade adotada pelo Ministério da Saúde é a razão entre o número de óbitos e o número de casos confirmados, e será a mesma adotada neste projeto.

In [29]:
''' A taxa de letalidade de cada uf se encontra na coluna taxa_de_letalidade, e além de ter sido multiplicada por 100,
foi arredondada para duas casas decimais.'''


ufs_casos_obitos['taxa_de_letalidade'] = ((ufs_casos_obitos['obitos']/ufs_casos_obitos['casos'])*100).round(2)
ufs_casos_obitos

     casos  obitos  porcentagem_casos  porcentagem_obitos  taxa_de_letalidade
uf
SP  192628   11846              19.69               24.81                6.15
RJ   87317    8412               8.93               17.62                9.63
CE   87273    5377               8.92               11.26                6.16
PA   76623    4395               7.83                9.20                5.74
MA   66091    1607               6.76                3.37                2.43
AM   60736    2605               6.21                5.46                4.29
PE   48626    4057               4.97                8.50                8.34
BA   41577    1263               4.25                2.65                3.04
PB   31760     709               3.25                1.48                2.23
ES   31671    1217               3.24                2.55                3.84
DF   28521     379               2.92                0.79                1.33
AL   25633     831               2.62                1.74                3.24
MG   24906     570               2.55                1.19                2.29
AP   19387     342               1.98                0.72                1.76
RS   17822     406               1.82                0.85                2.28
SE   17338     400               1.77                0.84                2.31
RN   15889     655               1.62                1.37                4.12
SC   15573     222               1.59                0.46                1.43
RO   13804     374               1.41                0.78                2.71
GO   13304     264               1.36                0.55                1.98
PI   12099     421               1.24                0.88                3.48
PR   11919     406               1.22                0.85                3.41
AC   10664     287               1.09                0.60                2.69
TO    7774     152               0.79                0.32                1.96
MT    7512     281               0.77                0.59                3.74
RR    7421     231               0.76                0.48                3.11
MS    4274      39               0.44                0.08                0.91

In [30]:
''' A coluna taxa_de_letalidade é iterada e cada taxa é adicionada à lista taxa_de_letalidade_lista,
tendo seus itens ordenados em ordem descrecente.'''


taxa_de_letalidade_lista=[]
for _ in ufs_casos_obitos['taxa_de_letalidade']:
  taxa_de_letalidade_lista.append(_)
taxa_de_letalidade_lista = sorted(taxa_de_letalidade_lista,reverse=True)
print(taxa_de_letalidade_lista)

[9.63, 8.34, 6.16, 6.15, 5.74, 4.29, 4.12, 3.84, 3.74, 3.48, 3.41, 3.24, 3.11, 3.04, 2.71, 2.69, 2.43, 2.31, 2.29, 2.28, 2.23, 1.98, 1.96, 1.76, 1.43, 1.33, 0.91]

In [31]:
''' Agora, além de mostrar o DataFrame ufs_casos_obitos, as 3 ufs com maior número de casos confirmados, de óbitos,
ou de taxa de letalidade são apresentadas, juntamente com sua respectiva porcentagem.'''


print("Top 3 dos casos confirmados:\n")
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[0][2],ufs_casos_obitos.iloc[0].name))
print("{} % dos infectados no país são de {}\n".format(ufs_casos_obitos.iloc[1][2],ufs_casos_obitos.iloc[1].name))
print("{} % dos infectados no país são de {}\n\n".format(ufs_casos_obitos.iloc[2][2],ufs_casos_obitos.iloc[2].name))

print("Top 3 dos óbitos:\n")
print("{} % dos óbitos no país são de {}\n".format(porcentagem_obitos_ufs[0],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[0]].index[0]))
print("{} % dos óbitos no país são de {}\n".format(porcentagem_obitos_ufs[1],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[1]].index[0]))
print("{} % dos óbitos no país são de {}\n\n".format(porcentagem_obitos_ufs[2],ufs_casos_obitos.loc[ufs_casos_obitos['porcentagem_obitos']==porcentagem_obitos_ufs[2]].index[0]))


print("Top 3 das taxas de letalidade:\n")
print("{} % é a taxa de letalidade de {}\n".format(taxa_de_letalidade_lista[0],ufs_casos_obitos.loc[ufs_casos_obitos['taxa_de_letalidade']==taxa_de_letalidade_lista[0]].index[0]))
print("{} % é a taxa de letalidade de {}\n".format(taxa_de_letalidade_lista[1],ufs_casos_obitos.loc[ufs_casos_obitos['taxa_de_letalidade']==taxa_de_letalidade_lista[1]].index[0]))
print("{} % é a taxa de letalidade de {}\n\n".format(taxa_de_letalidade_lista[2],ufs_casos_obitos.loc[ufs_casos_obitos['taxa_de_letalidade']==taxa_de_letalidade_lista[2]].index[0]))



ufs_casos_obitos

Top 3 dos casos confirmados:

19.69 % dos infectados no país são de SP

8.93 % dos infectados no país são de RJ

8.92 % dos infectados no país são de CE


Top 3 dos óbitos:

24.81 % dos óbitos no país são de SP

17.62 % dos óbitos no país são de RJ

11.26 % dos óbitos no país são de CE


Top 3 das taxas de letalidade:

9.63 % é a taxa de letalidade de RJ

8.34 % é a taxa de letalidade de PE

6.16 % é a taxa de letalidade de CE

     casos  obitos  porcentagem_casos  porcentagem_obitos  taxa_de_letalidade
uf
SP  192628   11846              19.69               24.81                6.15
RJ   87317    8412               8.93               17.62                9.63
CE   87273    5377               8.92               11.26                6.16
PA   76623    4395               7.83                9.20                5.74
MA   66091    1607               6.76                3.37                2.43
AM   60736    2605               6.21                5.46                4.29
PE   48626    4057               4.97                8.50                8.34
BA   41577    1263               4.25                2.65                3.04
PB   31760     709               3.25                1.48                2.23
ES   31671    1217               3.24                2.55                3.84
DF   28521     379               2.92                0.79                1.33
AL   25633     831               2.62                1.74                3.24
MG   24906     570               2.55                1.19                2.29
AP   19387     342               1.98                0.72                1.76
RS   17822     406               1.82                0.85                2.28
SE   17338     400               1.77                0.84                2.31
RN   15889     655               1.62                1.37                4.12
SC   15573     222               1.59                0.46                1.43
RO   13804     374               1.41                0.78                2.71
GO   13304     264               1.36                0.55                1.98
PI   12099     421               1.24                0.88                3.48
PR   11919     406               1.22                0.85                3.41
AC   10664     287               1.09                0.60                2.69
TO    7774     152               0.79                0.32                1.96
MT    7512     281               0.77                0.59                3.74
RR    7421     231               0.76                0.48                3.11
MS    4274      39               0.44                0.08                0.91

#### 2.3.4 Criando a função dados_ufs
Ao passar a uf de interesse em seu parâmetro, a funçâo apresenta os dados do DataFrame ufs_casos_obitos correspondentes, como também a posição em que ocupa. Além disso, caso a uf esteja entre as três primeiras em número de casos confirmados, de óbitos ou de letalidade,
uma mensagem de alerta é mostrada para cada ocorrência.

In [32]:
''' A coluna obitos é iterada, sendo adicionado cada valor à lista 
numero_obitos, a qual é ordenada em ordem descrecente.'''


numero_obitos=[]
for _ in ufs_casos_obitos['obitos']:
  numero_obitos.append(_)
numero_obitos=sorted(numero_obitos,reverse=True)
numero_obitos

[11846,
 8412,
 5377,
 4395,
 4057,
 2605,
 1607,
 1263,
 1217,
 831,
 709,
 655,
 570,
 421,
 406,
 406,
 400,
 379,
 374,
 342,
 287,
 281,
 264,
 231,
 222,
 152,
 39]

In [33]:
# Um DataFrame é criado sendo a cópia do ufs_casos_obitos, mas com a coluna de índice diferente.


ufs_casos_obitos_com_indice = ufs_casos_obitos.reset_index()
ufs_casos_obitos_com_indice

    uf   casos  ...  porcentagem_obitos  taxa_de_letalidade
0   SP  192628  ...               24.81                6.15
1   RJ   87317  ...               17.62                9.63
2   CE   87273  ...               11.26                6.16
3   PA   76623  ...                9.20                5.74
4   MA   66091  ...                3.37                2.43
5   AM   60736  ...                5.46                4.29
6   PE   48626  ...                8.50                8.34
7   BA   41577  ...                2.65                3.04
8   PB   31760  ...                1.48                2.23
9   ES   31671  ...                2.55                3.84
10  DF   28521  ...                0.79                1.33
11  AL   25633  ...                1.74                3.24
12  MG   24906  ...                1.19                2.29
13  AP   19387  ...                0.72                1.76
14  RS   17822  ...                0.85                2.28
15  SE   17338  ...                0.84                2.31
16  RN   15889  ...                1.37                4.12
17  SC   15573  ...                0.46                1.43
18  RO   13804  ...                0.78                2.71
19  GO   13304  ...                0.55                1.98
20  PI   12099  ...                0.88                3.48
21  PR   11919  ...                0.85                3.41
22  AC   10664  ...                0.60                2.69
23  TO    7774  ...                0.32                1.96
24  MT    7512  ...                0.59                3.74
25  RR    7421  ...                0.48                3.11
26  MS    4274  ...                0.08                0.91

[27 rows x 6 columns]

In [34]:
# Definindo a funçâo dados_ufs.


def dados_ufs(uf):
  if (ufs_casos_obitos['casos'][0]==ufs_casos_obitos.loc[uf][0]):
    print("\nCampeã em número de casos confirmados !!!\n\n")
  elif(ufs_casos_obitos['casos'][1]==ufs_casos_obitos.loc[uf][0]):
    print("\n2º maior número de casos confirmados !!!\n\n")
  elif(ufs_casos_obitos['casos'][2]==ufs_casos_obitos.loc[uf][0]):
    print("\n3º maior número de casos confirmados !!!\n\n")
  if (ufs_casos_obitos['obitos'].max()==ufs_casos_obitos.loc[uf][1]):
    print("\nCampeã em número de óbitos !!!\n\n")
  elif(numero_obitos[1]==ufs_casos_obitos.loc[uf][1]):
    print("\n2º maior número de óbitos !!!\n\n")
  elif(numero_obitos[2]==ufs_casos_obitos.loc[uf][1]):
    print("\n3º maior número de óbitos !!!\n\n")
  if (ufs_casos_obitos.loc[uf][-1]==taxa_de_letalidade_lista[0]):
    print("\nCampeã em taxa de letalidade !!!\n\n")
  elif(ufs_casos_obitos.loc[uf][-1]==taxa_de_letalidade_lista[1]):
    print("\n2ª maior taxa de letalidade !!!\n\n")
  elif(ufs_casos_obitos.loc[uf][-1]==taxa_de_letalidade_lista[2]):
    print("\n3ª maior taxa de letalidade !!!\n\n")

  
  
  print("\nPosição: {} - Casos confirmados: {}".format(str(ufs_casos_obitos_com_indice.loc[ufs_casos_obitos_com_indice['uf']==uf].index[0]+1)+ "º",ufs_casos_obitos.loc[uf][0]))
  print("Posição: {} - Óbitos: {}".format(str(numero_obitos.index(ufs_casos_obitos.loc[uf][1]) + 1) + "º",ufs_casos_obitos.loc[uf][1]))
  print("Posição: {} - Porcentagem de casos: {} %".format(str(ufs_casos_obitos_com_indice.loc[ufs_casos_obitos_com_indice['uf']==uf].index[0]+1) + "º",ufs_casos_obitos.loc[uf][2]))
  print("Posição: {} - Porcentagem de óbitos: {} %".format(str(porcentagem_obitos_ufs.index(ufs_casos_obitos.loc[uf][3]) + 1) + "º",ufs_casos_obitos.loc[uf][3]))
  print("Posição: {} - Taxa de letalidade: {} %".format(str(taxa_de_letalidade_lista.index(ufs_casos_obitos.loc[uf][-1]) + 1) + "º",ufs_casos_obitos.loc[uf][-1]))

In [35]:
# Testando com a uf RJ.


dados_ufs('RJ')

2º maior número de casos confirmados !!!



2º maior número de óbitos !!!



Campeã em taxa de letalidade !!!



Posição: 2º - Casos confirmados: 87317.0
Posição: 2º - Óbitos: 8412.0
Posição: 2º - Porcentagem de casos: 8.93 %
Posição: 2º - Porcentagem de óbitos: 17.62 %
Posição: 1º - Taxa de letalidade: 9.63 %